@tailwind base; /* includes reset of styles, base styles like h1, h2, https://tailwindcss.com/docs/preflight*/
@tailwind components; /* card, button, etc.*/
@tailwind utilities; /* other classes*/

:root, #root,
#docs-root {
    --28: clamp(1.75rem, calc(28 / 320 * 100vw), 2.25rem);
    --34: clamp(2.125rem, calc(34 / 360 * 100vw), 5rem);
    --38: clamp(2.25rem, calc(38 / 360 * 100vw), 5rem);
    --40: clamp(2.5rem, calc(40 / 360 * 100vw), 3.5rem);
    --48: clamp(3rem, calc(48 / 360 * 100vw), 4rem);
    --64: clamp(4rem, calc(64 / 768 * 100vw), 5rem);
    --80: clamp(5rem, calc(80 / 1024 * 100vw), 6rem);
    --mobile12: clamp(0.75rem, calc(12 / 475 * 100vw), 1.5rem);
    --mobile14: clamp(0.875rem, calc(14 / 475 * 100vw), 1.75rem);
    --mobile16: clamp(1rem, calc(16 / 475 * 100vw), 2rem);
    --mobile18: clamp(1.125rem, calc(18 / 475 * 100vw), 2.25rem);
    --desktop16: clamp(0.5rem, calc(16 / 1440 * 100vw), 1rem);
    --desktop24: clamp(0.75rem, calc(24 / 1440 * 100vw), 1.5rem);
    --desktop20: clamp(0.625rem, calc(20 / 1440 * 100vw), 1.25rem);
    --desktop64: clamp(2rem, calc(64 / 1440 * 100vw), 4rem);
}


@font-face {
    font-family: 'Courier Prime';
    src: local('Courier Prime'), url(../static/fonts/Courier_Prime/CourierPrime-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: local("Courier Prime"), url(../static/fonts/Courier_Prime/CourierPrime-Italic.ttf) format("ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: local("Courier Prime"), url(../static/fonts/Courier_Prime/CourierPrime-Bold.ttf) format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Courier Prime';
    src: local("Courier Prime"), url(../static/fonts/Courier_Prime/CourierPrime-BoldItalic.ttf) format("ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


html,
body {
    font-family: 'Courier', monospace;
    background:  #F7F4F0;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@layer components {

    .container {
        @apply xxl:mx-auto max-w-[1920px] w-full px-4 640:px-8 lg:px-10 xl:px-14 xxl:px-[6.5rem];
    }

    .widePaddingR {
        @apply pr-[calc(100/360*100vw)] md:pr-[calc(272/768*100vw)] lg:pr-[calc(360/1024*100vw)]
        xl:pr-[calc(728/1440*100vw)] xxl:pr-[968px]
    }


    .px-primary {
        @apply px-[clamp(1.25rem,calc(20/360*100vw),3.75rem)];
    }

    .paddings-left {
        @apply pl-4 640:pl-8 lg:pl-10 xl:pl-14 xxl:pl-[6.5rem];
    }

    .paddings-right {
        @apply pr-4 640:pr-8 lg:pr-10 xl:pr-14 xxl:pr-[6.5rem];
    }

    .center {
        @apply flex justify-center items-center;
    }

    .center-absolute {
        @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    /* for development only */
    .outline-test {
        @apply outline outline-[0.5px] outline-black;
    }

    /* get rid of form default styles */
    input, textarea {
        @apply autofill:shadow-[inset_0_0_0px_2000px_rgb(255,255,255)] outline-none resize-none
    }
}

/* letters animation */
.line {
    background-image: linear-gradient(white, white);
    background-size: 0 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.2) !important;
}

.swiper-pagination-bullets > .swiper-pagination-bullet-active {
    background-color: white;

}

.swiper-pagination-bullets > .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.3);
}


/*//hide cookiebot*/
#CybotCookiebotDialog {
    display: none !important;
}

.stopScrolling {
    height: 100vh;
    overflow: hidden;
}

.blend {
    mix-blend-mode: difference;
}

.isolate {
    isolation: isolate;
}

/*dialog */
::backdrop {
    background-color: rgba(0, 0, 0);
}
